body {
	color: black ;
	background-color: white ; 
	font-size: medium ;
	font-style: normal ;
	font-weight: normal ;
	font-variant: normal ;
	text-align: left ;
	text-decoration: none ;
	letter-spacing: normal ;
	margin: 1em 2em ;
	padding: 0 1em ;
	border: none ;
	font-family: "New York", "Georgia", serif ;
	line-height: 2.0 ;}
a {
	border-style: none ;}
a img {
	border-style: none ;}
a:link {
	color: #0033cc ;
	text-decoration: underline ;}
a:visited {
	color: #330066 ;
	text-decoration: none ;}
a:active {
	color: #FF0033 ;
	text-decoration: none ;}
a:focus {
	color: black ;
	text-decoration: none ;
	outline: 1px #DC143C ;}
img {
	display :inline ;}
div.board a:link {
	color: #FFFF00 ;
	text-decoration: underline ;}
div.board a:visited {
	color: #FFFF00 ;
	text-decoration: none ;}
div.board a:active {
	color: #DC143C ;
	text-decoration: none ;}
div.board {
	background-color: #2F4F4F;
	color: white ;
	margin: 1.2em 1em 1px 1em ;
	padding: 1em ;
	font-family: cursive ;}
div.main {
	margin-bottom: 1.5em ;
	padding-left: 1em ;
	width: 100% ;
	height: 180px ;
	background-color: #2F4F4F;
	overflow: auto ;}
div#form {
	text-align: right ;}
div.select {
	display: inline ;}
div.input{
	display: inline ;}
div.navi1 {
	color: #FFFFFF ;
	font-weight: 900 ;
	font-family: sans-serif ;
	letter-spacing: 1px ;
	background: #000080 ;
	margin: 0 1em ;}
div.navi1 a:link {
	color: #FFFFFF ;
	border-right: 2px solid #FFFFFF ;
	padding: 2px 0.5em ;
	text-decoration: none ;}
div.navi1 a:visited {
	color: #FFFFFF ;
	border-right: 2px solid #FFFFFF ;
	padding: 2px 0.5em ;
	text-decoration: none ;}
div.navi2 {
	color: #FFFFFF ;
	text-align: right ;
	font-weight: 900 ;
	font-family: sans-serif ;
	letter-spacing: 1px ;
	background: #8B4513 ;
	margin: 0 1em ;}
div.navi2 a:link {
	color: #FFFFFF ;
	border-left: 2px solid #FFFFFF ;
	padding: 2px 0.5em ;
	text-decoration: none ;}
div.navi2 a:visited {
	color: #FFFFFF ;
	border-left: 2px solid #FFFFFF ;
	padding: 2px 0.5em ;
	text-decoration: none ;}
div.kkk {
	margin: 0.5em 1.5em 0 0 ;
	text-align: right ;}
p {
	font-size: large ;
	font-weight: bold ;
	letter-spacing: 0.1em ;
	line-height: 1.5 ;}
h1,h2,h3,h4 {
	font-family: sans-serif ;}
h1 {
	font-size: x-large ;
	font-weight: 900 ;
	font-family: cursive ;
	text-align: center ;}
h2 {
	font-size: large ;
	font-style : normal ;
	text-align: left ;}
strong {
	font-weight: bolder ;
	font-style: normal ;}
em {
	font-weight: normal ;
	font-style: italic ;}
address {
	font-size : medium ;
	font-style : oblique ;
	text-align: right ;
	border-top : thin solid gray ;
	margin-top : 1em ;
	padding-top: 1em ;
	background-color: #DCDCDC ;}	
.kasen {
	text-decoration: underline;
	letter-spacing : 0.1em ;}
.kesi {
	text-decoration: line-through ;
	font-size: smaller ;}
.italic {
	font-style: italic ;}
.syatai {
	font-style: oblique ;}
.cursive {
	font-family: cursive ;}
.bold {
	font-weight: bolder ;}
.big {
	font-size: larger ;}
.small {
	font-size: smaller ;}
.mini {
	font-size: small ;}
.en {
	font-family: "Courier", "Courier New", monospace ;}
.goth {
	font-family: "Arial", sans-serif ;}