body {
	color: black ;
	background-color: white ; 
	font-size: medium ;
	font-style: normal ;
	font-weight: normal ;
	font-variant: normal ;
	text-align: left ;
	text-decoration: none ;
	letter-spacing: normal ;
	margin: 1em 2em ;
	padding: 1em ;
	outline: none ;
	font-family: "New York", Georgia, serif ;
	line-height: 1.8 ;}
a {
	border-style: none ;}
a:link {
	color: #0033cc ;
	background: inherit ;
	text-decoration: underline ;}
a:visited {
	color: #330066 ;
	background: inherit ;
	text-decoration: none ;}
a:active {
	color: #FF0033 ;
	background: inherit ;
	text-decoration: none ;}
a:hover { 
	position: relative ;
	top: 1px ;
	left: 1px ;}
a:focus {
	color: black ;
	background: inherit ;
	text-decoration: none ;
	outline: 1px red ;}
p {
	text-indent: 1em ;
	line-height: 2.0 ; }
p.none {
	text-indent: 0 ;}
p.ch {
	text-indent: 0 ;
	margin: 1em ;
	padding: 0.5em ;
	font-family: serif ;
	border: thin dotted #333333 ;
	background: #FFF5F5 ;}
h1,h2,h3,h4,h5,h6 {
	font-family: sans-serif ;}
h1 {
	font-size: xx-large ;
	font-style : normal ;
	text-align: center ;}
h2 {
	color: inherit ;
	background-color: #F5F5F5 ;
	font-size: large ;
	font-style: normal ;
	text-align: left ;
	margin: 3em 0 1em 0 ; 
	border-top: 2px solid gray ;
	border-left: 0.5em solid silver ;
	border-bottom: 2px solid silver ;
	padding: 3px 0 5px 0.5em ;
	letter-spacing: 0.1em ;}
h3 {
	font-size: large ;
	font-style: normal ;
	text-align: left ;
	border-left: 1em solid #3399FF ;
	border-bottom: thin solid #3399CC ;	
	margin: 2.5em 0 0.5em 0.5em ;
	padding: 0 0 3px 0.3em ;}
h4 {
	font-size: medium ;
	font-weight: bold ;
	font-style: normal ;
	text-align: left ;
	border-left: 0.5em solid #ffcc99 ;
	border-bottom: thin solid #ff9933 ;	
	letter-spacing: 0.2em ;
	margin: 2em 0 1em 0.5em ;
	padding: 0 0 2px 0.5em ;}
img {
	border-style: none ; 
	vertical-align: middle ;
	display: block ;}
img.in {
	display: inline ;}
strong {
	font-weight: bolder ;
	font-style: normal ;}
em {
	font-weight: normal ;
	font-style: italic ;}
dfn {
	font-weight: normal ;
	font-style: normal ;
	text-decoration: none ;
	border-bottom: thin dotted navy ;
	cursor: help ;}
abbr,acronym {
	text-decoration: none ;
	font-style: normal ;
	border-bottom: 1px dotted #333333 ;
	cursor: help ;}
cite {
	font-style: normal ;}
var {
	font-style: oblique ;}
sup {
	color: #CC0000 ;
	background: inherit ;
	font-weight: bold ;}
blockquote {
	border-left : solid silver ;
	padding-left : 0.5em ; }
ul,ol {
	list-style-position: outside ;}
ul li {
	line-height: 1.7 ; 
	padding-top: 0.5em ;
	padding-bottom: 0.5em ;}
ol li {
	line-height: 1.7 ; 
	padding-top: 0.5em ;
	padding-bottom: 0.5em ;}
li a {
	text-decoration: none ;}
ul li.cir {
	list-style-type: circle ;}	
ul li.sec {
	list-style-type: disc ;}
ul li.squ {
	list-style-type: square ;}
ul li.none {
	list-style-type: none ;}
ol.point {
	line-height: 2.0 ; 
	font-weight: bolder ;
	background-color: #F5FFFA ;
	border: thin solid #191970 ;
	padding-right: 1em ;
	padding-bottom: 1em ;}
ol.point li {
	margin-top: 1em ;}
dl {
	padding-left: 0.5em ;
	border: 2px solid gray ;}
dl dl {
	border: none ;}
dt,dd {
	margin-top: 0.5em ;
	font-family: sans-serif ;}
ul dl {
	border: none ;}
ol dl {
	border: none ;}
dl.none {
	border: none ;}
dl.ref {
	font-size: smaller ;
	border: none ;
	border-top: medium double #333333 ;
	border-bottom: medium double #333333 ;
	padding-left: 1.5em ;}
dl.ref dt {
	font-size: medium ;
	font-weight: bolder ;}
dl.ref ul {
	margin-top: 0 ;
	padding-left: 0 ;
	list-style-type: circle ;}
.ex {
	border: medium ridge #DC143C ;
	color: inherit ;
	background-color: #FFFAFA ;
	margin: 1em 0 ;
	padding: 0 0.5em ;}
.ex dl {
	border: none ;}
.ex ul {
	line-height: 2.0 ; 
	list-style-type: circle ; 
	padding-right: 1em ;
	padding-bottom: 1em ;
	border-bottom: thin solid #CD5C5C ;}
.ex ul.none {	
	border: none ;}
.ex ul.counone {	
	border: none ;}
.ex ul li {
	margin-top: 1em ;}
.ex ol {
	line-height: 2.0 ; 
	padding-right: 1em ;}
.ex ol li {
	margin-top: 1em ;}
div.ex ul li {
	list-style-image: url('image/no1.png');}
div.ex ul li.sec {
	list-style-image: url('image/no2.png');
	margin-left: 1em ;}
div.ex ul li.thir {
	list-style-image: url('image/no3.png');
	margin-left: 2em ;}
div.ex ul.cou li {
	list-style-image: url('image/c_red.png');}
div.ex ul.counone li {
	list-style-image: url('image/c_red.png');}
div.ex ul.cou li.blue {
	list-style-image: url('image/c_blue.png');}
div.ex ul.counone li.blue {
	list-style-image: url('image/c_blue.png');}
ol.uab {
	list-style-type: upper-alpha ;}
ol.lab {
	list-style-type: lower-alpha ;}
.zu {
	border: medium ridge navy ;
	color: inherit ;
	background-color: #F0FFFF ;
	margin: 1em 0.5em ;}
.word {
	color: inherit ;
	background-color: #F0F8FF ;
	margin-bottom: 2em ;
	padding: 0 1.5em ;}
.word ul {
	margin-left: -2em ;
	list-style-type: square ;
	list-style-image: url('image/pen_bl.png') ;}
.word ul li {
	padding: 0.3em 0 ;
	border-bottom: thin dotted silver ;}
.border {
	border: 2px solid #666666 ;
	padding: 1em ;}
div.img {
	text-align: center ;
	margin: 1em 0 ;}
.img img {
	display: inline ;}
span.img img {
	vertical-align: baseline ;}
.limg {
	margin: 1em ;
	display: inline ;
	float: left ;}
.limg img {
	display: inline ;}
.rimg {
	margin: 1em ;
	display: inline ;
	float: right ;}
.rimg img {
	display: inline ;}
.cl {
	clear: both ;}
table.auto {
	margin: 0 auto ;}
table,td,th {
	table-layout: auto ;
	border: thin solid black ; 
	border-collapse: collapse ; 
	empty-cells: show ;
	text-align: center ;}
table td {
	text-align: left ;
	padding: 0 0.5em ;}
table th {
	text-align: center ;
	font-family: sans-serif ;}
caption {
	caption-side: top ;
	font-weight: bolder ;
	font-size: larger ;
	font-family: sans-serif ;
	letter-spacing: 0.1em ;}
.right {
	text-align: right ;}
.left {
	text-align: left ;}
.center {
	text-align: center ;}
.inline {
	display: inline ;}
.c1 {
	color: inherit ;
	background-color: #FFCCCC ;}
.c2 {
	color: inherit ;
	background-color: #E6E6FA ;}
.c3 {
	color: inherit ;
	background-color: #FAFAD2 ;}
.c4 {
	color: inherit ;
	background-color: #FFE4E1 ;}
.c5 {
	color: inherit ;
	background-color: #ADD8E6 ;}
.c6 {
	color: inherit ;
	background-color: #98FB98 ;}
.c7 {
	color: inherit ;
	background-color: #FF9999 ;}
.c8 {
	color: inherit ;
	background-color: #F0FFFF ;}
.c9 {
	color: inherit ;
	background-color: #B0C4DE ;}
.c0 {
	color: inherit ;
	background-color: #F8F8FF ;}
address {
	font-size : medium ;
	font-style : oblique ;
	text-align: right ;
	border-top : thin solid gray ;
	margin-top : 1em ;
	padding-top: 1em ;
	color: inherit ;
	background-color: #e6e6fa ;}
div.sect {
	margin-top: 1.5em ;
	border-top: 2px solid gray ;}
div.back {
	border-top: thin dashed navy ;
	margin: 1.5em 0 1em 2em ;
	padding-top: 1em ;}
div.totop {
	text-align: right ;
	margin: 1em 1em 1em 0 ;
	color: inherit ;
	background-color: #DCDCDC ;}
div.close {
	font-family: sans-serif ;
	text-align: center ;
	border: thin double gray ;
	color: inherit ;
	background: #F5F5F5 ;}
div.close a {
	display: block ;
	width: 100% ;
	text-decoration: none ;}
.hide {
	color: #DCDCDC ;
	background: #DCDCDC ;}
.hide:hover {
	color: #000000 ;
	background: #FFE4E1 ;}
.kasen {
	text-decoration: underline;
	letter-spacing : 0.1em ;}
.kesi {
	text-decoration: line-through ;}
.uesen {
	text-decoration: overline ;}
.italic {
	font-style: italic ;}
.syatai {
	font-style: oblique ;}
.cursive {
	font-family: cursive ;}
.bold {
	font-weight: bolder ;}
.large {
	font-size: larger ;}
.big {
	font-size: larger ;
	font-weight: bolder ;}
.small {
	font-size: smaller ;}
.mini {
	font-size: small ;}
.red {
	background: inherit ;
	color: red ;}
.black {
	background: inherit ;
	color: black ;}
.ch {
	font-family: serif ;
	color: #333333 ;
	font-size: 90% ;}
.en {
	font-family: "Courier", "Courier New", monospace ;}
.goth {
	font-family: "Arial", sans-serif ;}
.times {
	font-family: "Times Roman", "Times New Roman", "Times", serif ;}
ruby rp {
	text-decoration: none ;}
a ruby rp {
	text-decoration: none ;}
.kasen ruby rp {
	text-decoration: none ;}
h1 img {
	display: inline ;}