table.input {
	background: #FFFFFA ;
	font-size: smaller ;
	font-weight: 900 ;
	margin: 2em ; 
	border: 3px solid #000000 ;}
tr.roman {
	border-bottom: 2px solid #666666 ;}	
div.img {
	text-align: center ;
	margin: 1em 3em ;
	padding: 1em ;
	border: thin dashed #000000 ;}
ol li {
	margin-top: 1em ;}
table.enty {
	margin-left: 3em ;}
table.enty thead {
	border-bottom: 2px solid #666666 ;
	background: #F5F5DC ;}
table.enty .c1 {
	background: #FAFAD2 ;}
table.enty .c2 {
	background: #FFFFE0 ;}
table.enty .c3 {
	background: #F5F5F5 ;}
table.enty tr.head {
	background: #F8F8FF ;
	border-top: 2px solid #666666 ;
	border-bottom: 2px solid #666666 ;}